---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Intro from '../components/Intro';
---

<Layout title="IDEATE 2024">
	<main class="bg-inherit mx-auto items-center justify-center p-4 text-white text-base" 
	style={{ backgroundImage: "url('../full_bg.png')", backgroundRepeat: "no-repeat", backgroundPosition: "center 0px"}}
	>
		<Hero />
		<Intro />
	</main>
</Layout>