---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Intro from '../components/Intro';
import WhatIsIdeate from '../components/WhatIsIDEATE';
import Sponsor from '../components/Sponsor';
import Theme from '../components/Theme';
import Prizes from '../components/Prizes';
import Timeline2 from '../components/Timeline_2';
import OpeningDay from '../components/OpeningDay';
import OpeningDay2 from '../components/OpeningDay_2';
import SemisAndFinals from '../components/SemisAndFinals';
import Workshops from '../components/Workshops';
import Venue from '../components/Venue';
import FAQ from '../components/FAQ';
import RegisterNow from '../components/RegisterNow';
import ContactUs from '../components/ContactUs';

import Header from '../components/Header';
---

<Layout title="IDEATE 2024">
  <Header client:load />
  <main class="bg-inherit mx-auto items-center justify-center px-6 lg:px-12 text-white text-base" 
    style={{ 
      backgroundImage: "url('../full_bg_1920.png')", 
      backgroundRepeat: "no-repeat", 
      backgroundPosition: "center 0px", 
      backgroundAttachment: "fixed", 
      backgroundSize: "cover" 
    }}
  >
    <section id="hero">
      <Hero />
    </section>
    <section id="intro">
      <Intro />
    </section>
    <section id="what-is-ideate">
      <WhatIsIdeate />
    </section>
    <section id="sponsor">
      <Sponsor />
    </section>
    <section id="theme">
      <Theme />
    </section>
    <section id="prizes">
      <Prizes />
    </section>
    <section id="timeline2">
      <Timeline2 client:load/>
    </section>
    <section id="opening-day">
      <OpeningDay2 />
    </section>
    <section id="semis-and-finals">
      <SemisAndFinals />
    </section>
    <section id="workshops">
      <Workshops client:load/>
    </section>
    <section id="venue">
      <Venue />
    </section>
    <section id="faq">
      <FAQ client:load/>
    </section>
    <section id="register-now">
      <RegisterNow />
    </section>
    <section id="contact-us">
      <ContactUs />
    </section>
  </main>
</Layout>
