---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero';
import Intro from '../components/Intro';
import WhatIsIdeate from '../components/WhatIsIDEATE';
import Sponsor from '../components/Sponsor';
import Theme from '../components/Theme';
---

<Layout title="IDEATE 2024">
	<main class="bg-inherit mx-auto items-center justify-center px-6 lg:px-12 text-white text-base" 
	style={{ backgroundImage: "url('../full_bg_1920.png')", backgroundRepeat: "no-repeat", backgroundPosition: "center 0px"}}
	>
		<Hero />
		<Intro />
		<WhatIsIdeate />
		<Sponsor />
		<Theme />
	</main>
</Layout>